
.needPHotography {
    margin-top: $SectionMargin;
   
    .container {
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        
        @media (max-width: 991.98px) { 
            flex-direction: column;
            text-align: center;
        }
        h1 {
            margin: 10px 0px;
            display: inline-block;
            max-width: fit-content;
            @media (max-width: 576px){
                font-size: 28px;
            }
        }
        a {
            @include LinkMainBtn($CornflowerBlueColor, $whiteColor, $CornflowerBlueDarkColor);
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: fit-content;
        }
    }
}