@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap');

$simpleFont: 'Varela Round', sans-serif;
$freeHandFont: 'Dancing Script', cursive;


$MainDarkColor: #080826;


$pinkColor: #ff166c;
$darkPinkColor: #cd0e55;

$whiteColor : white;
$blackcolor: black;

$CornflowerBlueColor: #7971ea;
$CornflowerBlueDarkColor: #4d45c5;

$textcolorGray: #495057;

$SectionMargin: 80px;

$MainLineHeight: 1.6;