@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  font-family: "Varela Round", sans-serif; }

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -o-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::selection {
  background-color: black;
  color: white; }

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

.container {
  margin: 0px auto;
  overflow: hidden; }
  @media (max-width: 576px) {
    .container {
      width: 100%;
      padding: 0px 14px; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

header {
  background-color: white;
  padding: 24px 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
  header .container {
    overflow: visible; }
    header .container .content {
      z-index: 8888;
      display: flex;
      justify-content: space- space-between;
      align-items: center; }
      header .container .content .logo {
        flex-grow: 1; }
        header .container .content .logo a {
          color: #080826; }
          header .container .content .logo a h1 {
            font-family: "Dancing Script", cursive;
            display: inline-block; }
      header .container .content nav {
        flex-grow: 1;
        position: relative; }
        @media (max-width: 767.98px) {
          header .container .content nav {
            flex-grow: 0; } }
        header .container .content nav input {
          display: none; }
          @media (max-width: 767.98px) {
            header .container .content nav input:checked ~ ul {
              display: block; } }
        header .container .content nav label {
          display: none; }
          @media (max-width: 767.98px) {
            header .container .content nav label {
              display: block;
              font-size: 24px; } }
        header .container .content nav ul {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          z-index: 9; }
          @media (max-width: 767.98px) {
            header .container .content nav ul {
              flex-direction: column;
              align-items: flex-start;
              position: absolute;
              top: 57px;
              right: -10px;
              background-color: #f6f6f6;
              min-width: auto;
              display: none; }
              header .container .content nav ul::before {
                content: "";
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #f6f6f6 transparent;
                position: absolute;
                top: -20px;
                right: 10px;
                z-index: 9999; } }
          @media (max-width: 767.98px) {
            header .container .content nav ul li {
              min-width: 200px; } }
          header .container .content nav ul li a {
            color: #333; }
            @media (max-width: 767.98px) {
              header .container .content nav ul li a {
                border-bottom: 1px solid #ddd;
                padding: 15px;
                width: 100%;
                display: block; }
                header .container .content nav ul li a:not(:last-child) {
                  border-bottom: none; }
                header .container .content nav ul li a:hover {
                  transition: padding-left .3s ease-in-out;
                  padding-left: 30px; } }

footer {
  margin-top: 80px;
  background-color: #333333;
  color: white;
  padding: 80px 0px; }
  footer .container .mainContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "section-1 section-2 section-3";
    gap: 40px; }
    @media (max-width: 576px) {
      footer .container .mainContent {
        grid-template-areas: "section-1 section-1 section-1" "section-2 section-3 section-3" "section-2 section-3 section-3"; } }
    @media (max-width: 230px) {
      footer .container .mainContent {
        grid-template-areas: "section-1 section-1 section-1" "section-2 section-2 section-2" "section-3 section-3 section-3"; } }
    footer .container .mainContent .content1 {
      color: #a7a7a7;
      grid-area: section-1;
      width: 100%; }
      footer .container .mainContent .content1 h3 {
        margin-bottom: 25px;
        color: white; }
      footer .container .mainContent .content1 p {
        line-height: 1.7;
        font-size: 15px; }
    footer .container .mainContent .content2 {
      grid-area: section-2;
      width: 100%; }
      footer .container .mainContent .content2 h3 {
        margin-bottom: 25px;
        color: white; }
      footer .container .mainContent .content2 ul li {
        margin-bottom: 15px; }
        footer .container .mainContent .content2 ul li a {
          color: #a7a7a7; }
        footer .container .mainContent .content2 ul li:last-child {
          margin-bottom: 0px; }
    footer .container .mainContent .content3 {
      grid-area: section-3;
      width: 100%; }
      footer .container .mainContent .content3 h3 {
        margin-bottom: 25px;
        color: white; }
      footer .container .mainContent .content3 i {
        margin-right: 20px;
        margin-bottom: 20px;
        color: #a7a7a7; }

.HomeMainImg {
  min-width: auto;
  min-height: calc(100vh - 87px);
  overflow: hidden;
  position: relative;
  background-image: url("../../imgs/daoud.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .HomeMainImg .container
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(117, 19, 93, 0.64));
    opacity: .5; }
  .HomeMainImg .content {
    color: white;
    z-index: 4;
    text-align: center; }
    .HomeMainImg .content h1 {
      font-size: 120px;
      font-family: "Dancing Script", cursive; }
      @media (max-width: 767.98px) {
        .HomeMainImg .content h1 {
          font-size: 100px; } }
      @media (max-width: 576px) {
        .HomeMainImg .content h1 {
          font-size: 70px; } }
      @media (max-width: 200px) {
        .HomeMainImg .content h1 {
          font-size: 60px; } }

.contactSection {
  margin-top: 80px; }
  .contactSection .container .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "form form form form form form form form info info info info" "form form form form form form form form info info info info";
    gap: 50px 0px; }
    @media (max-width: 991.98px) {
      .contactSection .container .content {
        grid-template-areas: "form form form form form form form form form form form form" "info info info info info info info info info info info info"; } }
    .contactSection .container .content .contactForm {
      grid-area: form;
      width: 100%; }
      .contactSection .container .content .contactForm form {
        width: 70%; }
        @media (max-width: 991.98px) {
          .contactSection .container .content .contactForm form {
            width: 100%; } }
        .contactSection .container .content .contactForm form label {
          display: block;
          margin-bottom: 0.5rem;
          color: #495057; }
        .contactSection .container .content .contactForm form input:not([type="submit"]), .contactSection .container .content .contactForm form textarea {
          display: block;
          border: 1px solid #ced4da;
          padding: 10px 8px;
          font-size: 1rem;
          width: 100%;
          margin-bottom: 20px;
          color: #495057;
          outline: 0px; }
          .contactSection .container .content .contactForm form input:not([type="submit"]):focus, .contactSection .container .content .contactForm form textarea:focus {
            border-color: #7971ea; }
        .contactSection .container .content .contactForm form textarea {
          height: 200px;
          line-height: 1.6;
          resize: none; }
        .contactSection .container .content .contactForm form input[type="submit"] {
          background-color: #7971ea;
          border-color: #7971ea;
          border-radius: 0px;
          padding: 15px 25px;
          color: white;
          text-align: center;
          text-decoration: none;
          transition: all .2s ease-in-out;
          cursor: pointer;
          display: inline-block;
          outline: none;
          border: none; }
          .contactSection .container .content .contactForm form input[type="submit"]:hover {
            background-color: #4d45c5; }
    .contactSection .container .content .information {
      grid-area: info;
      width: 100%; }
      .contactSection .container .content .information h4 {
        margin-bottom: 10px;
        color: #495057; }
      .contactSection .container .content .information span {
        color: #495057;
        margin-bottom: 30px;
        display: inline-block;
        line-height: 1.6; }
      .contactSection .container .content .information p {
        margin-bottom: 30px;
        color: #7971ea; }
      .contactSection .container .content .information a {
        color: #7971ea; }

/*# sourceMappingURL=contact.css.map */
