@import "../helpers/variables";

%MainLinkBtn {
    background-color: $greenColor;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px; 
}

%SecondBtn {
    color: #fff;
    background-color: #f23a2e;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 16px;
    &:hover {
        background-color: #eb1c0f;
    }
}